<STYLE type=text/css> 
/*所有字体大小*/
{
	FONT-SIZE: 12px
}
/*最外部div用来定位，以保证显示全部内容 id="box"*/
#box{
	/*用来定位*/
	background-image:url(../images/bg_main.jpg) ;
	position: absolute;
	top:0px;
	left:0px;
	width:1024px;
	height:500px;
	font-family:"微软雅黑";
}
/*内容div用来居中 id="pos"*/
#pos{
	background-color:rgba(255,255,255,0.6) ;
	
	position: relative;
	top: 10%;
	width: 80%;
	height: 80%;
	margin:0px auto;
	
}
/*整个table表命名为class="tab"*/
.tab {
	position: relative;
	left: 0px;
	BORDER: #bad6ec 1px;
	COLOR:black;
	font-family:"微软雅黑";
	WIDTH: 100%;
	BORDER-COLLAPSE: collapse;
}
/*第一行td格式命名为：class="first"*/
.first {
	BORDER: #bad6ec 1px solid;
	/*漂亮的单元格浅色背景*/
	BACKGROUND-IMAGE: url("../images/bg_th.gif");
	LINE-HEIGHT: 27px;
	TEXT-ALIGN: center;
}
/*其余td格式命名为：class="td"*/
.td {
	BORDER: #bad6ec 1px solid;
	LINE-HEIGHT: 32px;
	TEXT-ALIGN: center;
}
/*超链接格式 命名为:class="link"*/
.link {
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	
	OVERFLOW: hidden;
	BORDER-LEFT: 0px;
	WIDTH: 67px; COLOR: #364c6d;
	LINE-HEIGHT: 27px;
	BORDER-BOTTOM: 0px;
	BACKGROUND-REPEAT: repeat-x;
	HEIGHT: 27px;
	BACKGROUND-COLOR: transparent; 
	TEXT-DECORATION: none;
}
#so{
	padding-top:120px;
	text-align:center;
	
}
.input{
	width:150px;
	height:80px;
	
}
input{
	font-size: 20px;
	font-weight: bold;
}
#right{
	
	text-align: right;
}
#left{
	
	text-align: left;
}
#b{
	font-size: 20px;
}

</STYLE>